/* mouse selection */

*::selection {
  background-color: #001c47;
}

*::-moz-selection {
  background-color: #001c47;
}

/* style general */

header,
#portada,
.box-color,
.share,
#subir,
.a-box,
.progress-bar,
.btn-color,
footer {
  background-color: #001c47;
}

header {
  box-shadow: 0 1px 6px white;
}

body {
  color: white;
  background-color: #303030;
}

#portada {
  background-image: url(../../assets/mode/portadadm.webp);
}

.title-bar {
  color: #001c47;
}

.modal-content,
.card {
  color: white;
  background-color: #252525;
}

.a-body {
  background-color: #ccc;
  color: #000;
}
