*::selection {
  background-color: #001c47;
}

*::-moz-selection {
  background-color: #001c47;
}

header {
  background-color: #001c47;
  box-shadow: 0 1px 6px white;
}

body {
  color: white;
  background-color: #303030;
}

#portada {
  background-image: url(../../assets/portadadm.webp);
  background-color: #001c4799;
}

.box-color {
  background-color: #001c47;
}

.title-bar {
  color: #001c47;
}

.modal-content {
  color: white;
  background-color: #252525;
}

.share {
  background-color: #001c47;
}

footer {
  background-color: #001c47;
}
