/* mouse selection */

*::selection {
  background-color: #ec1c24;
}

*::-moz-selection {
  background-color: #ec1c24;
}

/* style general */

header,
#portada,
.box-color,
.share,
#subir,
.a-box,
.progress-bar,
footer {
  background-color: #ec1c24;
}

header {
  box-shadow: 0 1px 6px black;
}

body,
.modal-content,
.card {
  color: black;
  background-color: white;
}

#portada {
  background-image: url(../../assets/mode/portada.webp);
}

.title-bar {
  color: #ec1c24;
}

.a-body {
  background-color: #ccc;
}
