@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
#portada {
  color: white;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4588235294);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 190px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  animation: glow 3500ms linear infinite;
}
@keyframes glow {
  60% {
    text-shadow: 0 0 10px whitesmoke;
  }
}

.notice-container {
  padding-bottom: 15px;
  display: flex;
  cursor: pointer;
}
.notice-container .notice-img {
  height: auto;
  width: 150px;
}
.notice-container .notice-body {
  background-color: #252525;
  font-size: 1rem;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 15px;
}
.notice-container h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.btn-close {
  --bs-btn-close-focus-shadow: none;
}

.modal-body p {
  margin-bottom: 15px;
}

.youtube-video {
  width: 100%;
  height: 254px;
  margin-bottom: -10px;
}

header {
  color: white;
  height: auto;
  width: 100%;
  padding: 10px 0 10px 0;
  font-family: Montserrat;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}
header > p, header a {
  color: white;
  text-decoration: none;
}
header nav ul {
  margin: 0;
}
header nav ul > li {
  font-size: 18px;
  margin-left: 15px;
  display: inline;
}
header nav ul > li a {
  color: white;
}
header nav ul > li a:hover {
  font-weight: bold;
}
header .logo {
  font-size: 22px;
  font-weight: bold;
  text-shadow: #000 1px 1px;
}
header .navcenter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .theme {
  border-left: 1px solid #fff;
  padding-left: 10px;
  float: right;
}
header .nav-hamburger,
header .nav-hamburger:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

main {
  margin-top: 53px;
}

.vcenter {
  align-items: center;
  display: flex;
}

.box {
  color: white;
  background-color: #252525;
  height: auto;
  width: 100%;
  padding: 15px;
}

.box-color {
  color: white;
  height: auto;
  width: 100%;
  padding: 15px;
  text-align: center;
}
.box-color h1 {
  font-family: Montserrat;
}

.title-container {
  text-align: left;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}
.title-container .title-bar {
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
}
.title-container .title-text {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}

.redes {
  margin-top: 15px;
}
.redes .redes-container {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
}
.redes .facebook {
  background-color: #3b5998;
}
.redes .xtwitter {
  background-color: black;
}
.redes .instagram {
  background-color: #C13584;
}
.redes .whatsapp {
  background-color: #25D366;
}
.redes .email {
  background-color: grey;
}
.redes a {
  color: white;
  text-decoration: none;
}

.form-control:focus {
  border-color: #000;
  box-shadow: 0 0 0 0.1rem #ccc;
}

footer {
  color: #fff;
  font-family: Montserrat;
  height: auto;
  width: 100%;
  padding: 15px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer p:hover {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .desktop-nav {
    display: none !important;
  }
  .mobile-nav {
    display: flex;
  }
  main {
    margin-top: 63px;
  }
  li {
    line-height: 2em;
  }
  h1 {
    font-size: 1.2em;
  }
  #portada {
    font-size: 2em;
    height: 130px;
  }
}
@media (min-width: 1201px) {
  .desktop-nav {
    display: flex;
  }
  .mobile-nav {
    display: none !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  color: white;
}

*::selection {
  color: white;
}

*::-moz-selection {
  color: white;
}/*# sourceMappingURL=style.css.map */