p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: $primary-font;
}

main {
  margin-top: 53px;
}

.vcenter {
  align-items: center;
  display: flex;
}

.box {
  color: white;
  background-color: #252525;
  height: auto;
  width: $full-width;
  padding: $fifteen;
}

.box-color {
  color: white;
  height: auto;
  width: $full-width;
  padding: $fifteen;
  text-align: center;

    & h1 {
      font-family: $second-font;
    }
}

.box-gold {
  color: white;
  background-color: gold;
  height: auto;
  width: $full-width;
  padding: $fifteen;
  box-shadow: 0 0 10px goldenrod;

    &:hover {
      background-color: goldenrod;
      box-shadow: 0 0 10px gold;
    }
}

.title-container {
  text-align: left;
  align-items: center;
  display: flex;
  margin-bottom: $fifteen;

  .title-bar {
    font-size: 28px;
    font-weight: $bold;
    margin-right: $fifteen;
  }

  .title-text {
    font-size: 22px;
    font-weight: $bold;
    margin-top: 5px;
  }
}

.btn-close {
  --bs-btn-close-focus-shadow: none;
}

.modal-body p {
  margin-bottom: $fifteen;
}

.form-control:focus {
  border-color: black;
  box-shadow: 0 0 0 .1rem #ccc;
}

.breadcrumb {
  --bs-breadcrumb-margin-bottom: none;

  .breadcrumb-item {
    color: white;

    & a {
      color: white;
    }

    & a:hover {
      text-decoration: underline;
    }

    &::before {
      color: white;
    }
  }
}

.denied {
  cursor: not-allowed!important;
}

footer {
  color: white;
  font-family: $second-font;
  height: auto;
  width: $full-width;
  padding: $fifteen;

  & a {
    color: white;
    text-decoration: none;
  }

  & p:hover {
    font-weight: $bold;
  }
}



