p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
}

main {
  margin-top: 53px;
}

.vcenter {
  align-items: center;
  display: flex;
}

.box {
  color: white;
  background-color: #252525;
  height: auto;
  width: 100%;
  padding: 15px;
}

.box-color {
  color: white;
  height: auto;
  width: 100%;
  padding: 15px;
  text-align: center;

    & h1 {
      font-family: Montserrat;
    }
}

.box-gold {
  color: white;
  background-color: gold;
  height: auto;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 10px goldenrod;

    &:hover {
      background-color: goldenrod;
      box-shadow: 0 0 10px gold;
    }
}

.title-container {
  text-align: left;
  align-items: center;
  display: flex;
  margin-bottom: 15px;

  .title-bar {
    font-size: 28px;
    font-weight: bold;
    margin-right: 15px;
  }

  .title-text {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.redes {
  margin-top: 15px;

  .redes-container {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
  }

    .facebook {
      background-color: #3b5998;
    }
    .xtwitter {
      background-color: black;
    }
    .instagram {
      background-color: #C13584;
    }
    .whatsapp {
      background-color: #25D366;
    }
    .email {
      background-color: grey;
    }
    .share {
      cursor: pointer;
    }

      & a {
        color: white;
        text-decoration: none;
      }
}

.btn-close {
  --bs-btn-close-focus-shadow: none;
}

.modal-body p {
  margin-bottom: 15px;
}

.form-control:focus {
  border-color: #000;
  box-shadow: 0 0 0 .1rem #ccc;
}

.breadcrumb {
  --bs-breadcrumb-margin-bottom: none;

  .breadcrumb-item {
    color: white;

    & a {
      color: white;
    }

    & a:hover {
      text-decoration: underline;
    }

    &::before {
      color: white;
    }
  }
}

#subir {
  color: white;
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.denied {
  cursor: not-allowed;
}

footer {
  color: #fff;
  font-family: Montserrat;
  height: auto;
  width: 100%;
  padding: 15px;

  & a {
    color: #fff;
    text-decoration: none;
  }

  & p:hover {
    font-weight: bold;
  }
}



