#portada {
  color: white;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 3px #00000075;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 190px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  -webkit-animation: glow 3000ms linear infinite;
  animation: glow 3500ms linear infinite;

  @-webkit-keyframes glow {
    20% {
      text-shadow: 0 0 5px whitesmoke;
    }
  }
  @keyframes glow {
    60% {
      text-shadow: 0 0 10px whitesmoke;
    }
  }
}

.notice-container {
  padding-bottom: 15px;
  display: flex;
  cursor: pointer;

    .notice-img {
      height: auto;
      width: 150px;
    }

    .notice-body {
      background-color: #252525;
      font-size: 1rem;
      color: #fff;
      height: 100%;
      width: 100%;
      padding: 15px;
    }

      & h4 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.youtube-video {
  width: 100%;
  height: 254px;
  margin-bottom: -10px;
}