#portada {
  color: white;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 190px;
  width: $full-width;
  align-items: center;
  justify-content: center;
  display: flex;
  -webkit-animation: glow 3000ms linear infinite;
  animation: glow 3500ms linear infinite;

  @-webkit-keyframes glow {
    20% {
      text-shadow: 0 0 5px whitesmoke;
    }
  }
  @keyframes glow {
    60% {
      text-shadow: 0 0 10px whitesmoke;
    }
  }
}

.notice-container {
  padding-bottom: $fifteen;
  display: flex;
  cursor: pointer;

    .notice-img {
      height: auto;
      width: 150px;
    }

    .notice-body {
      background-color: #252525;
      font-size: 1rem;
      color: white;
      height: 100%;
      width: $full-width;
      padding: $fifteen;
      border-radius: 0 5px 5px 0;
    }

      & h4 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.notice-modal-img {
  width: $full-width;
  height: auto;
}

.redes {
  margin-top: $fifteen;

  .redes-container {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
  }

    .facebook {
      background-color: #3b5998;
    }
    .xtwitter {
      background-color: black;
    }
    .instagram {
      background-color: #C13584;
    }
    .whatsapp {
      background-color: #25D366;
    }
    .email {
      background-color: grey;
    }
    .share {
      cursor: pointer;
    }

      & a {
        color: white;
        text-decoration: none;
      }
}

.youtube-video {
  width: $full-width;
  height: 254px;
  margin-bottom: -10px;
}