@media (max-width: 1200px) {
  .desktop-nav {
    display: none!important;
  }

  .mobile-nav {
    display: flex;
  }

  main {
    margin-top: 63px;
  }

  li {
    line-height: 2em;
  }

  h1 {
    font-size: 1.2em;
  }

  #portada {
    font-size: 2em;
    height: 130px;
  }

  .redes {
    .redes-container {
      padding: 5px 10px;
    }
  }

  footer {
    .footer-center {
      justify-content: center;
    }
    .ms-5 {
      margin-left: 15px!important;
    }
    .copy {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid white;
    }
  }
}

@media (min-width: 1201px) {
  .desktop-nav {
    display: flex;
  }
  .mobile-nav {
    display: none!important;
  }
}